body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover ; 
    background-image:url("Hello.jpg");
}

header {
    background-color: rgb(51, 51, 51);
    color: rgb(255,255,255);
    padding: 16px;
    text-align: center;
}

nav ul {
    list-style: none ; 
    margin: 0;
    padding: 0;
    display: flex ;
    justify-content: space-between;
}

nav li {
    margin-right: 0px;
}

nav a {
    color: rgb(255,255,255);
    text-decoration: none ;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

section {
    background-color: rgb(240,240,240);
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-top: 0;
    text-align: center ; 
}
h2 {
    text-align: center ; 
}
p {
    text-align: center ; 
}

footer {
    background-color:black;
    color: rgb(255,255,255);
    padding: 16px;
    text-align: center;
    clear: both;
}
a {
    text-decoration: none ;
    color : blue ; 
}
pre {
    text-align: center ; 
}
#projectline {
    font-family: Arial, sans-serif ; 
    text-align: left ; 
}
img {
    width : 50px ; 
}
#wp {
    hight : 50px ;
    width : 50px;
    position: fixed; 
    z-index: 10 ; 
    bottom: 40px ; 
    left : 30px ; 
}
#links {
    display: flex ; 
    flex-direction : column ;
    align-items: center ;
}
i {
    color : black ; 
}
#linkdin {
    margin-left: 1px ; 
}
#hart {
    color : rgb(255,255,255) ;
}
